/* Full-width input fields */
input[type=text], input[type=password] {
    width: 400px;
    padding: 15px;
    margin: 5px 0 0px 0;

    border: none;
    background:  white;
  }
  .signimg{
    height: 400px;
    width: 400px;
    border-radius: 1px;
    margin-left: 300px;
    margin-bottom: 80px;
   
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
    
  }  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
   padding: 10px;
    text-align: center;
  border: none;
  border-radius: 10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin: 10px;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    
    background-color: gray;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 20%;
  }
  
  /* Add padding to containersign elements */
 form{
margin-left: 100px;
margin-bottom: 50px;
    
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }